<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aa8ec7">  <td>18/04/25 00:08:30</td>   <td>0</td> <td title="&gt;&gt;MyTestNGBaseClass.BeforeSuite()[pri:0, instance:com.training.tests.CreateNewContract@11d44a3]">&gt;&gt;BeforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@21580004</td>   <td></td> </tr>
<tr bgcolor="aa8ec7">  <td>18/04/25 00:08:30</td>   <td>250</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MyTestNGBaseClass.automationSetup(java.lang.String, java.lang.String)[pri:0, instance:com.training.tests.CreateNewContract@11d44a3]">&gt;&gt;automationSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@21580004</td>   <td></td> </tr>
<tr bgcolor="71d0d8">  <td>18/04/25 00:08:42</td>   <td>11484</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateNewContract.validation()[pri:0, instance:com.training.tests.CreateNewContract@11d44a3]">validation</td> 
  <td>main@21580004</td>   <td></td> </tr>
<tr bgcolor="aa8ec7">  <td>18/04/25 00:10:02</td>   <td>92216</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MyTestNGBaseClass.automationTeardown()[pri:0, instance:com.training.tests.CreateNewContract@11d44a3]">&lt;&lt;automationTeardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@21580004</td>   <td></td> </tr>
<tr bgcolor="aa8ec7">  <td>18/04/25 00:10:03</td>   <td>93079</td> <td title="&lt;&lt;MyTestNGBaseClass.afterSuite()[pri:0, instance:com.training.tests.CreateNewContract@11d44a3]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@21580004</td>   <td></td> </tr>
</table>
